<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spiner Gif</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>

	<canvas id="hex"></canvas>

	<script src="/js/es5/app.js"></script>
	
</body>
</html>