<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spiner Gif</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>

	<canvas id="hex"></canvas>

	<script data-main="/js/requireConfig" src="/lib/requirejs/require.js"></script>
	
</body>
</html>